/*------------------------- Global definitions ---------------------------*/
:root {
  /* Colors */
  --color-primary-1: hsl(226, 43%, 10%); /* #0E1323 */
  --color-primary-2: hsl(246, 80%, 60%); /* #5747EA */
  --color-primary-3: hsl(235, 46%, 20%); /* #1C204B */
  --color-primary-4: hsl(235, 58%, 73%); /* #939ae2 */
  --color-primary-5: hsl(236, 100%, 94%); /* #e0e2ff */
  --color-primary-6: hsl(235, 41%, 34%); /* #33397A */
  --color-neutral-1: hsl(0, 0%, 100%); /* #FFFFFF */
  --color-neutral-2: hsla(0, 0%, 0%, 25%); /* #000000 25% */
  --color-misc-1: hsl(15, 100%, 70%); /* #FF8B64 */
  --color-misc-2: hsl(195, 74%, 62%); /* #55C2E6 */
  --color-misc-3: hsl(348, 100%, 68%); /* #FF5E7D */
  --color-misc-4: hsl(145, 58%, 55%); /* #4BCF82 */
  --color-misc-5: hsl(264, 64%, 52%); /* #7335D2 */
  --color-misc-6: hsl(43, 84%, 65%); /* #F1C75B */

  /* Font sizes */
  --font-size-1: 0.9375rem; /* 15px */
  --font-size-2: 1.125rem; /* 18px */
  --font-size-3: 1.5rem; /* 24px */
  --font-size-4: 2rem; /* 32px */
  --font-size-5: 2.5rem; /* 40px */
  --font-size-6: 3.5rem; /* 56px */

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Line heights */
  --line-height-1: normal;

  /* Box shadows */
  --box-shadow-1: 0rem 0.25rem 0.25rem 0rem var(--color-neutral-2); /*0px 4px 4px 0px #000000 25% */

  /* Border widths */
  --border-width-1: 0rem;
  --border-width-2: 0.1875rem; /* 3px */

  /* Border radius */
  --border-radius-1: 0.9375rem; /* 15px */
  --border-radius-2: 100%;
  --border-radius-3: 0.625rem; /* 10px */

  /* Spacings */
  --space-none: 0rem;
  --space-1: 0.1875rem; /* 3px */
  --space-2: 0.25rem; /* 4px */
  --space-3: 0.375rem; /* 6px */
  --space-4: 0.5rem; /* 8px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.3125rem; /* 21px */
  --space-7: 1.5rem; /* 24px */
  --space-8: 1.5625rem; /* 25px */
  --space-9: 1.625rem; /* 26px */
  --space-10: 1.6875rem; /* 27px */
  --space-11: 1.75rem; /* 28px */
  --space-12: 1.8125rem; /* 29px */
  --space-13: 1.875rem; /* 30px */
  --space-14: 2rem; /* 32px */
  --space-15: 2.125rem; /* 34px */
  --space-16: 2.1875rem; /* 35px */
  --space-17: 2.3125rem; /* 37px */
  --space-18: 2.375rem; /* 38px */
  --space-19: 2.4375rem; /* 39px */
  --space-20: 2.6875rem; /* 43px */
  --space-21: 2.875rem; /* 46px */
  --space-22: 3.3125rem; /* 53px */
  --space-23: 4rem; /* 64px */
  --space-24: 5rem; /* 80px */
  --space-25: 2.8125rem; /* 45px */
  --space-26: 1rem; /* 16px */
  --space-27: 3.125rem; /* 50px */

  /* Filters */
  --filter-1: brightness(0) saturate(100%) invert(99%) sepia(8%) saturate(1083%)
    hue-rotate(168deg) brightness(119%) contrast(100%);
}

@font-face {
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*------------------------------- CSS Resets -----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
button {
  line-height: 1.1;
}

/* Avoid text overflows */
h1,
h2,
p {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Remove built-in form typography styles */
button {
  font: inherit;
}

/* Make images easier to work with */
picture,
img,
svg {
  max-width: 100%;
  display: block;
}

/*---------------------------- Main stylings -----------------------------*/
body {
  font-family: "Rubik";
  background-color: var(--color-primary-1);
  color: var(--color-neutral-1);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-regular);
  margin: var(--space-5);
}

em {
  font-style: normal;
}

button {
  text-decoration: none;
  color: var(--color-primary-4);
  font-size: var(--font-size-2);

  &:hover {
    color: var(--color-neutral-1);
  }
}

main {
  /* RRC - Check if this is the best way */
  min-height: 100vh;
  display: flex;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.flex-style-1,
.flex-style-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-style-3 {
  display: flex;
  gap: var(--space-2);
  flex-direction: column;
}

.flex-style-4 {
  display: flex;
  justify-content: end;
  flex-shrink: 0;
  flex-basis: var(--space-27);
}

article.dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
  max-width: 20.4375rem; /* 327px */
  margin: auto;
}

.card {
  border-radius: var(--border-radius-1);
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    padding: var(--space-7) var(--space-10) var(--space-8);
  }

  &.card-background-1 {
    background-color: var(--color-misc-1);
  }

  &.card-background-2 {
    background-color: var(--color-misc-2);
  }

  &.card-background-3 {
    background-color: var(--color-misc-3);
  }

  &.card-background-4 {
    background-color: var(--color-misc-4);
  }

  &.card-background-5 {
    background-color: var(--color-misc-5);
  }

  &.card-background-6 {
    background-color: var(--color-misc-6);
  }

  &.card-background-7 {
    background-color: var(--color-primary-3);
  }

  .sub-section-1 {
    display: flex;
    justify-content: end;
    height: var(--space-18); /* RRC - Research other alternatives */
    clip-path: content-box;

    img {
      position: relative;
      bottom: var(--space-4);
      right: var(--space-26);
    }
  }

  .sub-section-2 {
    background-color: var(--color-primary-3);
    border-radius: var(--border-radius-1) var(--border-radius-1)
      var(--border-radius-3) var(--border-radius-3);
    padding: var(--space-11) var(--space-7);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    &:hover {
      background-color: var(--color-primary-6);
      cursor: pointer;
    }
  }
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    filter: var(--filter-1);
  }
}

.main-background-1 {
  background-color: var(--color-primary-2);
  border-radius: var(--border-radius-1);
  padding: var(--space-16) var(--space-19) var(--space-15) var(--space-14);
  display: flex;
  align-items: center;
  gap: var(--space-5);

  img {
    border: var(--space-1) solid var(--color-neutral-1);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow-1);
  }
}

.text-style-1 {
  color: var(--color-primary-5);
  font-size: var(--font-size-1);
}

.text-style-2 {
  color: var(--color-neutral-1);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-light);
}

.text-style-3 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-1);
}

.text-style-4 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-light);
}

@media (min-width: 80rem) {
  body {
    margin: var(--space-none);
  }

  article.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 69.375rem; /* 1110px */
    grid-template-areas:
      "placement-7 placement-1 placement-2 placement-3"
      "placement-7 placement-4 placement-5 placement-6";
    gap: var(--space-13);
  }

  .flex-style-1 {
    flex-direction: column;
    align-items: start;
    gap: var(--space-4);
  }

  .margin-top-2 {
    margin-top: var(--space-7);
  }

  .card-background-1 {
    grid-area: placement-1;
  }

  .card-background-2 {
    grid-area: placement-2;
  }

  .card-background-3 {
    grid-area: placement-3;
  }

  .card-background-4 {
    grid-area: placement-4;
  }

  .card-background-5 {
    grid-area: placement-5;
  }

  .card-background-6 {
    grid-area: placement-6;
  }

  .card-background-7 {
    grid-area: placement-7;
  }

  .text-style-2 {
    font-size: var(--font-size-5);
  }

  .text-style-4 {
    font-size: var(--font-size-6);
  }

  .card {
    ul {
      flex-direction: column;
      gap: var(--space-6);
      padding: var(--space-9) var(--space-14) var(--space-14);
    }

    .sub-section-1 {
      height: var(--space-25);
    }

    .sub-section-2 {
      padding: var(--space-12) var(--space-16) var(--space-14) var(--space-13);
      height: calc(100% - var(--space-25)); /* RRC check this*/
    }

    .main-background-1 {
      flex-direction: column;
      align-items: start;
      row-gap: var(--space-13);
      column-gap: var(--space-13);
      gap: var(--space-20);
      padding: var(--space-17) var(--space-14) var(--space-24);

      img {
        /* RRC - Check if this is correct way */
        width: 4.875rem; /* 78px */
        height: auto;
      }
    }
  }
}

/* RRC - Check why border radius at the bottom of the cards produce the faint color */
/* RRC - Safari - check why cursor pointer is not showing immediately */
/* RRC - Safari - The three dot icon seems squashed */
/* RRC - The title is long and the icon is squashed */
